.background {
    background-image: url("../../Assets/img/app-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.App{
    height: 100vh;
    width: 100%;
    
}